body {
    background: #faebd7;
}

label {
    background-color: #0000FF;
    color: #00FF00;
    font-size: 12px;
    font-family: Helvetica,Arial;
}

label.obligatorio {
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 14px;
    font-family: Helvetica,Arial;
    font-weight: bold;
}

label.preferencias {
    background-color: #00FF00;
    color: #000000;
    font-size: 8px;
    font-family: Helvetica,Arial;
}

.enfocada {
    background-color: #66CCFF;
    color: #3333CC;
    font-family: Papyrus,Calibri;
}

.desenfocada {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial;
}
